


<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-title">
        <h1><%= @product.title %></h1>
      </div>
      <div class="card-body">
        <h1 class="card-title">値段：<%= @product.price %></h1>
        <ul class="list-unstyled">
          <li>出品者：<%= link_to "#{@product.user.name}",user_path(@product.user) %></li>
          <li>カテゴリ：<%= @product.category %></li>
          <li>説明：<%= @product.description %></li>
          <li>出品日:<%= @product.created_at %></li>
          <%= image_tag @product.image.url %>
        </ul>
        <% if current_user?(@product.user) %>
          <%= link_to "出品情報編集",edit_product_path(@product),class: "btn btn-success" %>
          <%= link_to "出品取り消し",product_path,method: :delete,class: "btn btn-danger" %>
        <% end %>
        <% unless current_user?(@product.user) %>

          <%= form_tag :chat_index,method: :post do %>
            <input type="hidden" name="seller_id" value="<%= @product.user.id %>">
            <input type="hidden" name="product_id" value="<%= @product.id %>">
            <%= submit_tag "DMを送る",class: "chatForm_btn" %>
          <% end %>

        <% end %>
      </div>

    </div>
  </div>

</div>



