<!DOCTYPE html>
<html>
  <head>
    <title>FreeMarket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:success] %>
      <div class="flash-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:dander] %>
    <div class="flash-danger">
      <%= flash[:dander] %>
    </div>
  <% end %>


    <%= yield %>

    <div class="debug-box">
      <% if Rails.env.development? %>
        <%= debug(params) %>
      <% end %>
    </div>

    <style>
      .body {
        position: relative;
      }
      .debug-box {
        position: absolute;
        background-color: #DADADA;
        bottom: 200px;
        left: 40%;

      }
    </style>

  </body>
</html>
