<!DOCTYPE html>
<html>
  <head>
    <title>FreeMarket</title>
    <%= csrf_meta_tags %>
    <meta name="current_user_id" content="<%= current_user.id if current_user %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:success] %>
      <div class="flash-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:dander] %>
    <div class="flash-danger">
      <%= flash[:dander] %>
    </div>
  <% end %>
    <%= render "layouts/header" %>


    <%= yield %>

  </body>
</html>
